<div class="harley-component">
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe" ng-model="name">

        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" ng-model="username">
        </div>

        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model="checked"> Remember me
            </label>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="setAttr()">Submit</button>
    </form>
</div>
