<!--<div class="harley-component">-->
    <!--<form class="form-inline">-->
        <!--<label class="sr-only" for="inlineFormInput">Name</label>-->
        <!--<input type="text" class="form-control" id="inlineFormInput" placeholder="Jane Doe" ng-model="name">-->

        <!--<label class="sr-only" for="inlineFormInputGroup">Username</label>-->
        <!--<div class="input-group ">-->
            <!--<div class="input-group-addon">@</div>-->
            <!--<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" ng-model="username">-->
        <!--</div>-->

        <!--<div class="form-check ">-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" ng-model="checked"> Remember me-->
            <!--</label>-->
        <!--</div>-->

        <!--<button type="submit" class="btn btn-primary" ng-click="setAttr()">Submit</button>-->
    <!--</form>-->
<!--</div>-->
<div>
    <h1 style="text-align: center">form example</h1>
    <div class="form-wrapper" style="width: 50%; margin:0 auto">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Text</label>
            <div class="col-10">
                <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" ng-model="text">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Search</label>
            <div class="col-10">
                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input" ng-model="search">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input" ng-model="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-10">
                <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input" ng-model="url">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
            <div class="col-10">
                <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input" ng-model="tel">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input class="form-control" type="password" value="hunter2" id="example-password-input" ng-model="password">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Number</label>
            <div class="col-10">
                <input class="form-control" type="number" value="42" id="example-number-input" ng-model="number">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input" ng-model="date">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-month-input" class="col-2 col-form-label">Month</label>
            <div class="col-10">
                <input class="form-control" type="month" value="2011-08" id="example-month-input" ng-model="month">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-week-input" class="col-2 col-form-label">Week</label>
            <div class="col-10">
                <input class="form-control" type="week" value="2011-W33" id="example-week-input" ng-model="week">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-time-input" class="col-2 col-form-label">Time</label>
            <div class="col-10">
                <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="time">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-color-input" class="col-2 col-form-label">Color</label>
            <div class="col-10">
                <input class="form-control" type="color" value="#563d7c" id="example-color-input" ng-model="color">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="setAttr()">Submit</button>
    </div>
</div>