<!DOCTYPE html>
<html ng-app="harley">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Harley</title>
    <link rel="stylesheet" href="css/vendor.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<header ng-controller="sideNavController" class="text-center">
    <button class="btn btn-success" ng-click="toggleSideNav()">burger</button>
    <div class="side-nav close">
        <label for="repeatSelect"> Select city: </label>
        <select name="repeatSelect" id="repeatSelect" ng-model="citiesModel"
                ng-options="cityName for cityName in cities">
            <option value="">Select city</option>
        </select>
        </br>
        <div class="row">
            <div class="col-xs-12">
                <label ng-repeat="(type, typeName) in chartTypes">
                    <input type="radio" ng-model="typeName.isSelected"/> {{typeName.name}}
                </label>
            </div>
        </div>
        <div class="row">
            <h2>Select period:</h2>
            <div class="col-md-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()">
                            <i class="mdi mdi-calendar-question"></i>
                        </button>
                    </span>
                </p>
            </div>

            <div class="col-md-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()">
                            <i class="mdi mdi-calendar-question"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</header>
<div class="map" ng-controller="mapController">
    <leaflet lf-center="center" defaults="defaults" layers="layers" markers="markers"></leaflet>
</div>

<div class="current-weather-chart" ng-controller="currentChartController">
    <header>
        <label>City: </label>
        <select ng-change="updateChart()" ng-model="selectedCity">
            <option ng-repeat="option in cities" ng-value="option.value">{{option.label}}</option>
        </select>
        <label>Parameter: </label>
        <select ng-change="updateChart()" ng-model="selectedParam">
            <option ng-repeat="option in params" ng-value="option.name">{{option.label}}</option>
        </select>
    </header>
    <canvas class="chart chart-bar" chart-data="Data" chart-labels="labels" chart-series="series"
            chart-options="options">
    </canvas>
</div>

<div class="statistic-chart" ng-controller="statisticsChart">
    <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
            chart-series="series" chart-options="options">
    </canvas>
</div>

<div ng-controller="AuthModalController">
    <button ng-click="authModalOpen()">
        Log in / Register
    </button>
</div>

<!--<nav ng-controller="NavCtrl">-->
<!--<a href="#!/home">Home</a> |-->
<!--<span ng-show="!currentUser">-->
<!--<a href="#!/login">Login</a> |-->
<!--<a href="#!/signup">Sign Up</a>-->
<!--</span>-->
<!--<span ng-show="currentUser">-->
<!--<a href="#!/profile">Profile</a> |-->
<!--<a href="#!/logout" ng-click="logout()">Logout</a>-->
<!--</span>-->
<!--</nav>-->

<script src="js/vendor.js" type="text/javascript"></script>
<script src="js/bundle.js" type="text/javascript"></script>
</body>
</html>