.side-nav{
  z-index: 9999;
  li{
    .item{
      padding:5px 15px;
      input[type="text"]{
        margin: 0 0 0 30px;
      }
      .date-size{
            font-size: 0.3rem;
        }
    }
    .input-field{
      margin:0;
      .prefix{
        bottom:5px;
      }
      label.active{
        top:0!important;
      }
    }
  }
}