.side-nav {
  z-index: 9999;
  li {
    line-height: 25px;
    .item {
      padding: 5px 15px;
    }
    input[type="text"] {
      margin: 0 0 0 30px;
    }
    .date-size {
      height:auto;
      padding: 5px;
      font-size: 1rem;
    }
    h5 {
      margin-top: 40px;
    }
    form {
      padding-top: 0;
      p{
        margin: 5px 0;
      }
    }
  }
  .input-field {
    margin: 0;
    .prefix {
      bottom: 5px;
    }
    label.active {
      top: 0 !important;
    }
  }
}